<div class="py-16 bg-white">
  <h2 class="text-2xl md:text-4xl text-center py-4">
    Why <b class="text-red-600">Choose</b> us
  </h2>
  <div class="mt-8 grid grid-cols-1 min-[440px]:grid-cols-2 gap-8 min-[1054px]:grid-cols-4 mx-auto justify-center px-8  lg:px-[2rem] xl:px[10rem] min-[680px]:w-[80%] ">
    <!-- Card 1 -->
    <div class="flex flex-col items-center bg-white shadow-lg p-6 mx-auto rounded-lg h-fit min-h-[20rem] max-w-[16rem]">
      <div class="mb-4 p-4  rounded-full">
        <img src="https://www.onevasco.com/ind/en/assets/img/home/speed.webp" alt="Speed Icon" class="w-16 h-16 lg:w-24 lg:h-24 object-contain" loading="lazy" />
      </div>
      <h3 class="text-[1rem] text-center font-bold text-gray-800">SPEED AND SIMPLICITY</h3>
      <p class="text-[12px] text-gray-500 text-center mt-2 overflow-hidden">
        Easy, traveler-friendly application process. Simple and much less
        complicated than dealing with foreign governments.
      </p>
    </div>
    <!-- Card 2 -->
    <div class="flex flex-col items-center bg-white shadow-lg p-6 mx-auto rounded-lg h-fit min-h-[20rem] max-w-[16rem] mt-[3rem]">
      <div class="mb-4 p-4  rounded-full">
        <img src="https://www.onevasco.com/ind/en/assets/img/home/approved.webp" alt="Quality Icon" class="w-16 h-16 lg:w-24 lg:h-24 object-contain" loading="lazy" />
      </div>
      <h3 class="text-[1rem] text-center font-bold text-gray-800">EXPERT QUALITY CHECK</h3>
      <p class="text-[12px] text-gray-500 text-center mt-2 overflow-hidden">
        All documents are reviewed by a team of immigration experts. Our staff is
        well-trained and offers years of experience.
      </p>
    </div>
    <!-- Card 3 -->
    <div class="flex flex-col items-center bg-white shadow-lg p-6 mx-auto rounded-lg h-fit min-h-[20rem] max-w-[16rem]">
      <div class="mb-4 p-4  rounded-full">
        <img src="https://www.onevasco.com/ind/en/assets/img/home/secure.webp" alt="Secure Icon" class="w-16 h-16 lg:w-24 lg:h-24 object-contain" loading="lazy" />
      </div>
      <h3 class="text-[1rem] text-center font-bold text-gray-800">SECURE AND SAFE</h3>
      <p class="text-[12px] text-gray-500 text-center mt-2 overflow-hidden">
        World-class data centers and state-of-the-art security. Your credit card
        information will never be exposed to any government websites!
      </p>
    </div>
    <!-- Card 4 -->
    <div class="flex flex-col items-center bg-white shadow-lg p-6 mx-auto rounded-lg h-fit min-h-[20rem] max-w-[16rem] mt-[3rem]">
      <div class="mb-4 p-4  rounded-full">
        <img src="https://www.onevasco.com/ind/en/assets/img/home/support.webp" alt="Support Icon" class="w-16 h-16 lg:w-24 lg:h-24 object-contain" loading="lazy" />
      </div>
      <h3 class="text-[1rem] text-center font-bold text-gray-800">AWESOME SUPPORT</h3>
      <p class="text-[12px] text-gray-500 text-center mt-2 overflow-hidden">
        Our best-in-class customer service team is here to help you. We want you
        to enjoy your travels and avoid the stress of getting a visa!
      </p>
    </div>
  </div>
</div>
